@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
    background: #EFEFBB;
    background-image: linear-gradient(to right, #D4D3DD, #EFEFBB);
  
}



